body{
    background-color: white;
}

#otherWrapper{
    /* width: calc(100vw-2rem); */
    height: 77px;
    margin: 0.25rem 0.3rem;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: rgb(247, 247, 247);
}


#columnsWrapper{
    width: 100%;
    min-width: 1750px;
    /* min-height: 50vh; */
    min-height: 300px;
    height: auto;
    position: relative;
    top: 0px;
    left: 0px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;



    border-radius: 0.85rem;
    margin: auto;
    width: max-content;
    width: 90%;
    text-align: left;
    display: block;
    border: 1px solid black;
    padding: .1rem 2rem 2rem 2rem   ;
    /* background-color: rgb(240, 254, 255); */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.taskColumn {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 300px;
    min-height: 100%;
    margin: 0.25rem 0.3rem;
    padding: 0.2rem 0.25rem 2.2rem 0.25rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    background-color: rgb(247, 247, 247);
    background-color: rgb(209, 248, 255);
    /* background-color: rgb(245, 253, 252); */



    display: inline-block;
    /* width: min-content; */
    min-height: 170px;
    min-width: 200px;
    max-width: 300px;
    width: 16%;
    vertical-align: top;
    /* border: 1px solid rgb(161, 221, 255); */
    /* background-color: white; */
    margin: 0.5rem;

    overflow-x: hidden;
    overflow-y: auto;
    white-space: wrap;
}

.taskColumn.over {
    border: 2px dashed lime; /* Feedback for drop target */
}

.colHeading {
    font-weight: bold;
    font-size: 1.3rem;
    /* border-bottom: 3px solid rgb(255, 223, 176); */
    color: rgb(0, 153, 153);
    color: rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0.25rem;
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    text-decoration: underline overline;
    border-radius: 0.33rem;
    text-align: center;
    text-transform: uppercase;
}

.singleTask {
    width: 97%;
    height: max-content;
    margin: 0 auto;
    margin: 0.4rem auto;
    padding: 0.13rem 0.13rem 0.13rem 0.43rem;
    border-radius: 0.5rem;
    cursor: move;
    background-color: white;
    color: black;
}
.singleTask.dragging {
    opacity: 0.5; /* Feedback while dragging */
}

.addItemButton {
    width: max-content;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    margin: 0.25rem 0 0 0;
    padding: 0 0.3rem 0.25rem 0.3rem;
    color: rgb(104, 104, 104);
    color: rgb(0, 153, 153);
    color: black;
    font-size: 1.5rem;
    position: absolute; bottom: 0px; right: 0px;
    cursor:pointer; /* Indicates draggable */
    border-radius: 0.5rem;
    background-color: rgb(249, 255, 221);
    background-color: rgb(231, 231, 231);
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top: 1px solid rgb(168, 238, 255);
    border-left: 1px solid rgb(168, 238, 255);
}
.editListButton {
    width: min-content;
    height: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto 0.5rem auto;
    padding: 0 0.7rem;
    margin: 0.25rem .5rem 0.25rem 1.5rem;
    margin: auto;
    color: rgb(104, 104, 104);
    color: rgb(0, 153, 153);
    color: black;
    background-color: rgb(249, 255, 221);
    background-color: rgb(231, 231, 231);
    font-size: 0.77rem;
    font-weight: bold;
    position: absolute; bottom: 0px; left: 50%;
    transform: translate(-50%);
    cursor:pointer; /* Indicates draggable */
    /* border-top: 1px solid blue;
    border-right: 1px solid blue; */
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border: 1px solid rgb(168, 238, 255);
    /* border-top: 1px solid rgb(168, 238, 255); */
    /* border-left: 1px solid rgb(168, 238, 255); */
}



/* Draggables /////////////////////////////////////////////////////////// */

.draggable {
    cursor: move;
}
.dragging{
    background-color: rgb(255, 255, 0);
}





#projectsWrapper{
    width: 100%;
}

.oneProject {
    background-color: white;
    color: black;
    border-radius: 0.85rem;
    /* border: 3px solid black; */
    padding: 1px 5px;
    margin: 1.75rem 1rem; 
    display: inline-block;
    width: 97vw;
    text-align: left;
    vertical-align: middle;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.596),  0 8px 16px rgba(0, 0, 0, 0.596);
}
.thumbnailWrapper {
    margin: 33px 0px 0px 0px;
    width: min-content;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    display: inline-flex;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-content: center;

    overflow-x: auto;
    overflow-y: auto;
    white-space: wrap;
}
.oneProjectThumbnail {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid black;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    position: relative;
    top: 3px;
    background-position: center center;
    background-size: cover;
    display: inline-block;
}
.projectUpsingleTaskdateWrapper{
    display: inline-block;
    width: min-content;
    min-height: 170px;
    min-width: 200px;
    max-width: 300px;
    vertical-align: top;
    border: 1px solid rgb(0, 255, 217);
    background-color: rgb(245, 253, 252);
    /* background-color: white; */
    margin: 0.5rem;
    padding: 1rem;

    overflow-x: auto;
    overflow-y: auto;
    white-space: wrap;
}
.singleTask > a {
    border: none;
    text-align: center;
}
.singleTask > img, .singleTask > a > img {
    max-width: 98%;
    max-height: 98%;
}
.projectTaxels {
    background-image: url('../images/tactile-sensor-768x499.jpg');
}